if pageUrl == '/'
	- var ogptype = 'website'
	- var inc_gtm = '<?php include_once(ROOTPATH."assets/inc/gtm_head.html"); ?>'
	| <?php include_once(__DIR__."/init.php"); ?>
else
	- var ogptype = 'article'
	- var inc_gtm = '<?php include_once(ROOTPATH."assets/inc/gtm_head.html"); ?>'
	| <?php include_once(__DIR__."/../init.php"); ?>
head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# " + ogptype + ": http://ogp.me/ns/" + ogptype + "#")
	| !{inc_gtm}
	meta(charset="utf-8")
	meta(http-equiv='X-UA-Compatible' content='IE=edge')
	title !{meta[pageUrl].title}
	| 
	| <?php include_once(ROOTPATH."assets/inc/head_meta_name.html"); ?>
	| <?php include_once(ROOTPATH."assets/inc/head_meta_property.html"); ?>
	meta(name='description' content!=meta[pageUrl].description)
	meta(name='keywords' content!=meta[pageUrl].keyword)
	meta(property='og:title' content!=meta[pageUrl].title)
	meta(property='og:description' content!=meta[pageUrl].description)
	meta(property='og:url' content!=site.url + pageDir)
	if meta[pageUrl].ogImage
		meta(property='og:image' content!=meta[pageUrl].ogImage)
	else
		meta(property='og:image' content!=site.url + site.ogImage)
	meta(property='og:type' content=ogptype)
	| 
	| <?php include_once(ROOTPATH."assets/inc/head_link.html"); ?>
		
	block css

	script(type="application/ld+json")
		|{
		|	"@context": "http://schema.org",
		|	"@type": "BreadcrumbList",
		|	"itemListElement": [
		|		{
		|			"@type": "ListItem",
		|			"position": 1,
		|			"item": {
		|				"@id": "!{site.url}",
		|				"name": "HOME"
		|			}
		|		}
		|	]
		if layout != 'home' && layout != 'error'
			|},
			|{
			|	"@context": "http://schema.org",
			|	"@type": "BreadcrumbList",
			|	"itemListElement": [
			|		{
			|			"@type": "ListItem",
			|			"position": 2,
			|			"item": {
			|				"@id": "!{site.url + pageDir}",
			|				"name": "!{meta[pageUrl].title}"
			|			}
			|		}
			|	]
		|
		|}
